<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<table>
    <thead>
        <tr>
            <th>Ders Adı</th>
            <th>Öğretim Üyesi</th>
            <th>Gün</th>
            <th>Başlangıç Saati</th>
            <th>Bitiş Saati</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="dp : ${dersProgramlari}">
            <td th:text="${dp.ders.ders_adi}"></td> <!-- Corrected part -->
            <td th:text="${dp.Ogretimuyesi.isim} + ' ' + ${dp.Ogretimuyesi.soyisim}"></td>
            <td th:text="${dp.gun}"></td>
            <td th:text="${dp.baslangic_saati}"></td>
            <td th:text="${dp.bitis_saati}"></td>
        </tr>
    </tbody>
</table>
