<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bölüm Başkanı</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h2>Hoş Geldiniz, <span th:text="${session.user.username}"></span></h2>
    <p>Burada yönetim işlemlerinizi gerçekleştirebilirsiniz.</p>
    <a href="/admin/users"><button>Kullanıcı Yönetimi</button></a>
    <a href="/ders_derslik/dersler"><button>Ders Yönetimi</button></a>
    <a href="/ders_derslik/derslik"><button>Derslik Yönetimi</button></a>
    <a href="/web/dersProgrami"><button>Ders Programı</button></a>
    <a href="/web/dersProgrami/yeni"><button>Ders Programı Yönetimi</button></a>
    <a href="/sinavprogrami"><button>Sınav Programı Yönetimi</button></a>
    <a href="/sinav-oturma"><button>Sınav Oturma Düzeni Yönetimi</button></a>
    <a href="/logout"><button>Çıkış Yap</button></a>
</body>
</html>
